
<md-content >
    <h3>Grammatical Judgement Task</h3>
    <div>
        <form name="frenchForm" ng-model="frenchForm" novalidate enctype="multipart/form-data" ng-submit="partTwo.testGrammar()" >

                <div  layout="row"  layout-align="start center">
                <div > 1- On adore plutôt   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                    <md-select ng-model="test.q1"   ng-required="true">
                        <md-option  ng-selected="true">le soleil </md-option>
                        <md-option>l soleil </md-option>
                    </md-select>
                </md-input-container >
                </div>
                <div>levant que </div>
                    <div >
                        <md-input-container class="md-block" flex-gt-sm>
                            <md-select ng-model="test.q2"   ng-required="true">
                                <md-option  ng-selected="true">le soleil </md-option>
                                <md-option>la soleil </md-option>
                            </md-select>
                        </md-input-container >
                    </div>
                    <div>.</div>
                  </div>

            <div  layout="row"layout-align="start center">
            <div > 2- On peut sortir    </div>
            <div >
                <md-input-container class="md-block" flex-gt-sm>
                    <md-select ng-model="test.q3"   ng-required="true">
                        <md-option  ng-selected="true">le garçon</md-option>
                        <md-option>la garçon </md-option>
                    </md-select>
                </md-input-container >
            </div>
            <div>de </div>
            <div >
                <md-input-container class="md-block" flex-gt-sm>
                    <md-select ng-model="test.q4"   ng-required="true">
                        <md-option  ng-selected="true">le rue </md-option>
                        <md-option>la rue </md-option>
                    </md-select>
                </md-input-container >
            </div>
                <div>, mais on ne peut pas sortir </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q5"   ng-required="true">
                            <md-option  ng-selected="true">le rue </md-option>
                            <md-option>la rue </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>du garçon.</div>
            </div>


            <div  layout="row"layout-align="start center">
                <div>3-</div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q6"   ng-required="true">
                            <md-option  ng-selected="true">Le critique</md-option>
                            <md-option>La critique </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>est plus facile que </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q7"   ng-required="true">
                            <md-option  ng-selected="true">le pratique </md-option>
                            <md-option>la pratique </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>.</div>
            </div>
            <div  layout="row"layout-align="start center">
                <div>4-</div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q8"   ng-required="true">
                            <md-option  ng-selected="true">Le dire</md-option>
                            <md-option>La dire </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>est aisé,  </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q9"   ng-required="true">
                            <md-option  ng-selected="true">le faire </md-option>
                            <md-option>la faire </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>.</div>
            </div>

            <div  layout="row"layout-align="start center">
                <div>5- L’abstinence totale est plus facile que </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q10"   ng-required="true">
                            <md-option  ng-selected="true">le parfait modération .</md-option>
                            <md-option>la parfaite modération  </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>.</div>
            </div>



            <div  layout="row"layout-align="start center">
                <div>6- </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q11"   ng-required="true">
                            <md-option  ng-selected="true"> Le clarté</md-option>
                            <md-option>La  clarté </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>est la forme la plus difficile du courage. </div>
            </div>


            <div  layout="row"layout-align="start center">
                <div>7-  La racine des veines est dans  </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q12"   ng-required="true">
                            <md-option  ng-selected="true"> Le cœur</md-option>
                            <md-option>La  cœur </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>, composé de trois cavités d’où partent différentes veines. Cependant, c’est dans  </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q13"   ng-required="true">
                            <md-option  ng-selected="true"> Le foie</md-option>
                            <md-option>La  foie </md-option>
                        </md-select>
                    </md-input-container >
                </div>
            </div>
            <div layout="row"layout-align="start center">que les veines se manifestent en premier lieu. </div>



            <div  layout="row"layout-align="start center">
                <div>8-   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q14"   ng-required="true">
                            <md-option  ng-selected="true"> Le foi </md-option>
                            <md-option>La  foi  </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> est l’organe de la connaissance ; l’intellect est secondaire. Votre science sans prémisses est  </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q15"   ng-required="true">
                            <md-option  ng-selected="true">un mythe </md-option>
                            <md-option>une mythe </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>. Il y a toujours</div>
            </div>
            <div layout="row"layout-align="start center">
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q16"   ng-required="true">
                            <md-option  ng-selected="true"> le foi </md-option>
                            <md-option>la  foi  </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>, </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q17"   ng-required="true">
                            <md-option  ng-selected="true"> un conception </md-option>
                            <md-option>une conception  </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> du monde, </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q18"   ng-required="true">
                            <md-option  ng-selected="true"> un idée </md-option>
                            <md-option>une idée  </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>, bref </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q19"   ng-required="true">
                            <md-option  ng-selected="true"> un volonté  </md-option>
                            <md-option>une volonté   </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>, et c’est affaire de </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q20"   ng-required="true">
                            <md-option  ng-selected="true"> le raison </md-option>
                            <md-option>la raison  </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>de l’interpréter, </div>
                 </div>

            <div layout="row"layout-align="start center">  de la démontrer, toujours et dans tous les cas.</div>


            <div  layout="row"layout-align="start center">
                <div>9-  Dans   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q21"   ng-required="true">
                            <md-option  ng-selected="true"> tout personne</md-option>
                            <md-option> toute personne</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>, il y a   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q22"   ng-required="true">
                            <md-option  ng-selected="true"> un poète mort</md-option>
                            <md-option>une poète morte </md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>jeune. </div>
            </div>


            <div  layout="row"layout-align="start center">
                <div>10-  Entre deux maux il faut choisir    </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q23"   ng-required="true">
                            <md-option  ng-selected="true"> le</md-option>
                            <md-option> la</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> moindre. </div>
            </div>


            <div  layout="row"layout-align="start center">
                <div>11-  Dans le désert, on peut toujours tomber sur    </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q24"   ng-required="true">
                            <md-option  ng-selected="true"> un oasis</md-option>
                            <md-option> une oasis</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> . </div>
            </div>

            <div  layout="row"layout-align="start center">
                <div>12-  Personne n’a    </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q25"   ng-required="true">
                            <md-option  ng-selected="true"> le monopole</md-option>
                            <md-option> la monopole</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> de l’angoisse. </div>
            </div>

            <div  layout="row"layout-align="start center">
                <div>13-  La lecture n’est pour eux qu’   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q26"   ng-required="true">
                            <md-option  ng-selected="true"> un échappatoire</md-option>
                            <md-option> une échappatoire</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> ou   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q27"   ng-required="true">
                            <md-option  ng-selected="true"> un loisir</md-option>
                            <md-option> une loisir</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>de nantis : lire c’est croître.</div>
            </div>

            <div  layout="row"layout-align="start center">
                <div>14-  S’habiller est    </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q28"   ng-required="true">
                            <md-option  ng-selected="true"> un mode</md-option>
                            <md-option> une mode</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> de vie. </div>
            </div>



            <div  layout="row"layout-align="start center">
                <div>15-     </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q29"   ng-required="true">
                            <md-option  ng-selected="true"> La fausse piété</md-option>
                            <md-option> Le faux piété</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div> - Qui, sous couleur d' éteindre en nous   </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q30"   ng-required="true">
                            <md-option  ng-selected="true"> le volupté</md-option>
                            <md-option> la volupté</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>,- Par l’ austérité même et par</div>

                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q31"   ng-required="true">
                            <md-option  ng-selected="true"> le pénitence</md-option>
                            <md-option> la pénitence</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>- Sait</div>
            </div>
            <div layout="row"layout-align="start center">
                <div> allumer le feu de </div>
                <div >
                    <md-input-container class="md-block" flex-gt-sm>
                        <md-select ng-model="test.q32"   ng-required="true">
                            <md-option  ng-selected="true"> le lubricité</md-option>
                            <md-option> la lubricité</md-option>
                        </md-select>
                    </md-input-container >
                </div>
                <div>.</div>
            </div>

            <md-button type="submit" class="md-primary md-raised"
                       ng-disabled="frenchForm.$invalid" >
                next
            </md-button>

        </form>
    </div>
</md-content>
