
<md-content >
    <h3>Self-paced reading task</h3>
    <h4>Notice</h4>
    <div>
       <p>You will be presented with a number of sentences, each of which will initially appear with dashes in place of words.
       <b>. You can read each sentence ONE WORD AT A TIME by repeatedly pressing the space bar.
       </b></p>
        <p>After each sentence you will have <b> to tick an answer </b>  to a question related to the sentence above.
        </p>
        <p>Please read at a speed that is natural for you.
        </p>
        <p>Please avoid reading aloud since this can affect results.
        </p>
        <p>Please avoid reading aloud since this can affect results.
        </p>
        <p>Practice sentence: </p>
    </div>
</md-content>
