
<md-content>
<div keypress-events ng-controller="partOne.rediectToPartOne">
   <h3>Hello,
   </h3>
    <p>First, we would like to thank you for granting us a little of your time and also for contributing to our research.
    </p>
    <p>This test will take up to 15 min; it is composed of 3 parts:
    </p>
    <ul>
        <li>Questionnaire</li>
        <li> Grammartical Judgement Test</li>
        <li>Self-Paced Reading Task</li>
    </ul>
    <p>The results are automatically sent to a server so that they can be collected. No details about you or your internet connection will be stored.
    </p>

    <p>Press the “space bar” to start.</p>
</div>
</md-content>