
<md-content>
    <h3>Language Experience and Proficiency Questionnaire</h3>
    <h4>Part One</h4>
    <div>
        <form name="userForm" ng-model="userForm" novalidate enctype="multipart/form-data" ng-submit="partOne.saveUser()" >
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Your Age </label>
                    <input type="number" id="age" ng-model="user.age" name="age" ng-required="true"  md-minlength="3">
                    <div ng-messages="userForm.age.$error">
                        <div ng-message="required">We need to know your age </div>
                    </div>
                </md-input-container>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Your Nationality</label>
                    <input type="text" ng-model="user.nationality" name="nationality" ng-required="true"  md-minlength="6">
                    <div ng-messages="userForm.nationality.$error">
                        <div ng-message="required">We need to know your nationality</div>
                        <div ng-message="minlength">That's too short!</div>
                    </div>
                </md-input-container>

            </div>
            <div>
                <md-input-container class="md-block" flex-gt-sm>
                    <label>Your Gender</label>
                   <md-select ng-model="user.gender"  ng-required="true">
                       <md-option>Male</md-option>
                       <md-option>Female</md-option>
                   </md-select>
                </md-input-container>
            </div>
            <div  layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label> You were born in  :  </label>
                    <md-select ng-model="user.country">
                        <md-option>Tunisia</md-option>
                        <md-option>France</md-option>
                        <md-option>Other</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container  ng-hide="user.country !== 'Other'" class="md-block" flex-gt-sm>
                    <label>Country Name</label>
                    <input type="text" ng-model="user.countryOther" name="countryOther" ng-required="user.country == 'Other'"  md-minlength="6">
                    <div ng-messages="userForm.countryOther.$error">
                        <div ng-message="required">We need to know where you were born</div>
                    </div>
                </md-input-container>
            </div>
            <div layout-gt-sm="row">
                <md-input-container class="md-block" flex-gt-sm>
                    <label>
                        You lived in   :  </label>
                    <md-select ng-model="user.countrylive">
                        <md-option>Tunisia</md-option>
                        <md-option>France</md-option>
                        <md-option>Other</md-option>
                    </md-select>
                </md-input-container>
                <md-input-container   ng-hide="user.countrylive !== 'Other'" class="md-block" flex-gt-sm>
                    <label>Country Name</label>
                    <input type="text" ng-model="user.countryLiveOther" name="countryLiveOther" ng-required="user.countrylive == 'Other'"  md-minlength="6">
                    <div ng-messages="userForm.countryLiveOther.$error">
                        <div ng-message="required">We need to know where you lived</div>
                        <div ng-message="minlength">That's too short!</div>
                    </div>
                </md-input-container>
            </div>

            <div  layout="row"layout-align="start center">
               <div flex="50"> <p>If you ever lived in France, how many years have you lived there :</p></div>
                 <div>  <md-input-container class="md-block" flex-gt-sm>
                        <label>number of years</label>
                    <input type="number" id="yearsFrance" ng-model="user.yearsFrance" name="yearsFrance" ng-required="false"  md-minlength="3">
                    </md-input-container >
                 </div>
            </div>


            <div  layout="row"layout-align="start center">
                <div>  What is your highest educational level  :</div>
                <div>  <md-input-container class="md-block" flex-gt-sm>
                    <label>education level</label>
                    <md-select ng-model="user.educationalLevel">
                        <md-option>High school</md-option>
                        <md-option>undergraduate</md-option>
                        <md-option>graduate</md-option>
                        <md-option>Other</md-option>
                    </md-select>
                </md-input-container >
                </div>
            </div>

            <div  layout="row"layout-align="start center">
                <div > <p>What is the name of the institution you are currently studying in</p></div>
                <div>  <md-input-container class="md-block" flex-gt-sm>
                    <label>institution name</label>
                    <input type="text" id="institution" ng-model="user.institution " name="institution" ng-required="true"  md-minlength="3">
                    <div ng-messages="userForm.institution.$error">
                        <div ng-message="required">We need to know your instution name</div>
                    </div>
                </md-input-container >
                </div>
            </div>


            <div  layout="row"layout-align="start center">
                <div > Was the elementary school you attended a </div>
                <div >  <md-input-container class="md-block" flex-gt-sm>
                    <label>Your elementary school</label>
                    <md-select ng-model="user.elementaryschool">
                        <md-option>Tunisian public school</md-option>
                        <md-option> Tunisian private school</md-option>
                        <md-option>Private French school in Tunisia</md-option>
                        <md-option>French school in France</md-option>
                    </md-select>
                    <div ng-messages="userForm.elementaryschool.$error">
                        <div ng-message="required">We need to know your instution name</div>
                    </div>
                </md-input-container >
                </div>
            </div>

            <div  layout="row"layout-align="start center">
                <div > Was the High school you attended a  </div>
                <div >  <md-input-container class="md-block" flex-gt-sm>
                    <label>Your high school</label>
                    <md-select ng-model="user.highschool"   ng-required="true">
                        <md-option>Tunisian public school</md-option>
                        <md-option> Tunisian private school</md-option>
                        <md-option>Private French school in Tunisia</md-option>
                        <md-option>French school in France</md-option>
                    </md-select>
                    <div ng-messages="userForm.highschool.$error">
                        <div ng-message="required">We need to know your instution name</div>
                    </div>
                </md-input-container >
                </div>
            </div>

            <div  layout="row"layout-align="start center">
                <div > Which language you are using the most in your daily life </div>
                <div >  <md-input-container class="md-block" flex-gt-sm>
                    <label>daily language</label>
                    <md-select ng-model="user.dailylanguage"   ng-required="true">
                        <md-option>Tunisian Arabic</md-option>
                        <md-option>French</md-option>
                    </md-select>
                    <div ng-messages="userForm.dailylanguage.$error">
                        <div ng-message="required">We need to know your instution name</div>
                    </div>
                </md-input-container >
                </div>
            </div>

            <md-button type="submit" class="md-primary md-raised"
                       ng-disabled="userForm.$invalid" >
                next
            </md-button>

        </form>
    </div>
</md-content>